<div class="col-sm-1"></div>
<div class="col-sm-10 card m-3">
    <div class="header">
        <strong class="title" style="margin-top:5%;font: 2em sans-serif;">Chi tiết</strong>
    </div>
    <div></div>
</div>

<div class="col-sm-1" style="clear: both;"></div>