<div class="content">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 card m-3">
        <div class="header">
            <strong class="title" style="margin-top:5%;font: 2em sans-serif;">Danh sách gia sư</strong>
        </div>
        <div style="margin-top:3%" *ngFor="let item of tutorList| paginate: config">

            <div class="col-xs-4 ">
                <div class="one-row-class">
                    <div>
                        <div class="col-xs-6"><img src="../../../assets/images/main.png"></div>
                        <div class="col-xs-6">
                            <div style="margin-top: 10%;">
                                <strong>  <a style="font-size:17px;color: orange;" (click)="openModal(mymodal,item)">{{item.name}}</a></strong>
                                <div><strong style="font-size:12px;color: grey;">{{item.address?item.address.city:'Không có dữ liệu '}}| {{item.subjects?item.subjects:'không có môn học'}}</strong></div>
                                <div style="margin-top:10%;color: red;">{{item.tuitionPerHour}},000vnđ/h </div>
                            </div>
                        </div>
                    </div>
                    <div class="block">{{item.introduction?item.introduction:'không có dữ liệu'}}

                    </div>
                    <div> <button type="button" class="btn btn-default ">Mời dạy</button></div>
                </div>
            </div>
        </div>
        <div class="paginate">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>

    </div>

    <div class="col-sm-1" style="clear: both;"></div>
</div>

<ng-template #mymodal let-modal class="giasu">
    <div class="modal-header">
        <h1 class="modal-title" id="modal-basic-title"> Gia sư: {{selectTutor.name}}</h1>
    </div>
    <div class="modal-body">
        <div>

            <div class="col-xs-4"><i class="glyphicon glyphicon-exclamation-sign"></i> Môn học:{{selectTutor.subjects?selectTutor.subjects:' Không có dữ liệu'}}</div>
            <div class="col-xs-4"><i class="glyphicon glyphicon-tree-deciduous"></i> Hình thức dạy: {{selectTutor.teachingType}}</div>
            <div class="col-xs-4"><i class="glyphicon glyphicon-education"></i> Nghề nghiệp: {{selectTutor.job?selectTutor.job:' Không có dữ liệu'}}
            </div>
        </div>
        <div style="margin-left: 3%;margin-top: 10%;"><i class="glyphicon glyphicon-map-marker"></i> Địa chỉ: {{selectTutor.address?addressTutor:'Không có dữ liệu'}}
        </div>
        <div style="margin-left: 3%;margin-top: 3%;"><i class="glyphicon glyphicon-calendar"></i> Lịch dạy: {{selectTutor.schedule?selectTutor.schedule:'Không có dữ liệu'}}
        </div>
        <div style="margin-left: 3%;margin-top: 3%;"><i class="glyphicon glyphicon-gift"></i> Giới thiệu bản thân: {{selectTutor.introduction?selectTutor.introduction:' Không có dữ liệu'}}
        </div>
        <button type="button" class="btn btn-default btn-close " (click)="close()">Đóng</button>
    </div>




</ng-template>