.header {
    border-bottom: 2px solid #069d86;
    margin-bottom: 0;
}

.card {
    margin-top: 7%;
    margin-bottom: 5%;
}

.one-row-class {
    margin-top: 2%;
    padding: 5px;
    background: #fff;
    position: relative;
    border-radius: 2px;
    height: 280px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

h3 {
    color: #069D86;
}

.one-row-class img {
    height: 120px;
    width: 140px;
    margin-top: 9px;
    border-radius: 5%;
    border: 2px solid green;
}

.block {
    width: 300px;
    height: 75px;
    margin-top: 155px;
    margin-left: 12px;
}

.btn-default {
    margin-top: 0px;
    margin-left: 40%;
    border: 1px solid green;
}

.paginate {
    clear: both;
    text-align: center;
    margin-top: 35%;
    font-size: large;
}

.modal-title {
    color: white;
    font-size: large;
}

.btn-outline-dark {
    margin-left: 560px;
}

.btn-close {
    margin-top: 0px;
    margin-left: 45%;
    border: 1px solid red;
}

.modal-header {
    background: #069d86;
}

.modal-body {
    background-image: url('https://maupowerpoint.com/wp-content/uploads/2019/07/background-powerpoint-cute-15-600x338.jpg');
}