<header class="header-main">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand item" [routerLink]="['/']">
                    <span class="title">
                        <img src="../../../assets/images/main.png" style="height: 40px;margin-top: -11px;border-radius: 5px;">
                        <img src="../../../assets/images/bg.gif" style="height: 40px;margin-top: -11px;border-radius: 5px;">   
                        GIA SƯ ĐÀ NẴNG
                    </span>

                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/login']" routerLinkActive="router-link-active"><span class="glyphicon glyphicon-user item"> Đăng nhập </span></a></li>
                <li><a [routerLink]="['/register']" routerLinkActive="router-link-active"><span class="glyphicon glyphicon-log-in item"> Đăng ký</span></a></li>
            </ul>
        </div>
    </nav>
</header>
<div style="margin-top: 8%;">
    <angular-image-slider [autoRotate]="true" [autoRotateAfter]="5000" [autoRotateRight]="true" [images]="imagesUrl"></angular-image-slider>
</div>
<section class="section-services">
    <div class="container">
        <h3 class="like text-center">TÌM GIA SƯ THEO CÔNG NGHỆ 4.0</h3>
        <div class="col-xs-2"></div>
        <div class="col-xs-8 row">
            <table>
                <tr>
                    <td>
                        <h3><span class="glyphicon glyphicon-thumbs-up"></span> Chất lượng</h3>
                        <div> Gia sư được kiểm duyệt kỹ càng và đánh giá khách quan bởi phụ huynh</div>
                    </td>
                    <td class="second">
                        <h3><span class="glyphicon glyphicon-star-empty"></span> Linh hoạt</h3>
                        <div>Gia sư Đà Nẵng cung cấp dịch vụ linh hoạt, tùy chỉnh dễ dàng.</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><span class="glyphicon glyphicon-retweet"></span> Kết nối trực tiếp</h3>
                        <div>Kết nối học viên với hàng nghìn gia sư khắp cả nước theo mô hình Uber, Grab.</div>
                    </td>
                    <td class="second">
                        <h3><span class="glyphicon glyphicon-education"></span> Lựa chọn đa dạng</h3>
                        <div>Gia sư là giảng viên, giáo viên, sinh viên, người nước ngoài,vv...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><span class="glyphicon glyphicon-xbt"></span> Tùy chọn học phí</h3>
                        <div>Nhiều gia sư cùng đấu giá mức học phí, bạn chỉ cần lựa chọn học phí phù hợp nhất.</div>
                    </td>
                    <td class="second">
                        <h3><span class="glyphicon glyphicon-time"></span> Nhanh chóng</h3>
                        <div>Chỉ mất 2 phút để đăng yêu cầu tìm gia sư.</div>
                    </td>
                </tr>
            </table>


        </div>
        <div class="col-xs-2"></div>
    </div>
</section>
<div style="background-color:#069D86; height: 150px;">
    <table class="ssstable">
        <tr>
            <th><span class="glyphicon glyphicon-user css"></span></th>
            <th class="column"> Gia sư khắp cả nước</th>
            <th><span class="glyphicon glyphicon-thumbs-up css"></span></th>
            <th class="column"> Hàn ngàn lượt truy cập</th>
            <th><span class=" glyphicon glyphicon-star-empty css"></span></th>
            <th class="column"> 85000 bài đăng </th>
        </tr>
        <tr>
            <th><span class="glyphicon glyphicon-earphone "></span></th>
            <th class="column"> 19006262</th>
            <th><span class="glyphicon glyphicon-envelope "></span></th>
            <th class="column"> contact@gmail.com</th>
            <th></th>
            <th class="column"> <img src="../../../assets/images/fb.png" style="height: 40px;margin-top: -11px;border-radius: 5px;">
                <img src="../../../assets/images/yt.jpg" style="height: 40px;margin-top: -11px;border-radius: 5px;"></th>
        </tr>
    </table>

</div>