<div class="col-xs-1">
</div>
<div class="col-xs-10" style="margin-top: 7%;margin-bottom: 3%;">
    <section>
        <div class="backgroup">
            <div>
                <div>
                    <img src="../../../assets/images/gsb.jpg" class="img-circle">
                </div>

            </div>


        </div>
        <strong style="margin-left:20%;font-size: 25px;">{{tutor.name?tutor.name:'chưa có tên' }}</strong><br>
        <div *ngIf="tutor.status===1" class="statusgs">Gia sư mới</div>
        <div *ngIf="tutor.status===2" class="statusgs">Đang đợi xác nhận</div>
        <div *ngIf="tutor.status===3" class="statusgs">Gia sư không hợp lệ</div>
        <div *ngIf="tutor.status===4" class="statusgs">Đã kích hoạt</div>
        <div *ngIf="tutor.status===5" class="statusgs">Tài khoản đã bị khóa</div>

        <hr>
        <div class="infor">
            <div class="col-xs-3">
                <h2>Thông tin gia sư</h2>

            </div>

            <div class="col-xs-9">
                <div class="container" style="margin-left: 5%;">

                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Số điện thoại: </label></div>
                        <div class="col-sm-10"><span class="view">  {{ tutor.phone?tutor.phone:'chưa có dữ liệu'}}</span></div>
                    </div>
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Email: </label></div>
                        <div class="col-sm-10"><span class="view">  {{ tutor.email?tutor.email:'không có dữ liệu'}}</span></div>
                    </div>
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Nghề nghiệp: </label></div>
                        <div class="col-sm-10"><span class="view">  {{ tutor.job?tutor.job:'không có dữ liệu'}}</span></div>
                    </div>
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Hình thức dạy: </label></div>
                        <div class="col-sm-10"><span class="view">{{ tutor.teachingType?tutor.teachingType == '1' ? 'Dạy online' :'Dạy offline':'không có dữ liệu'}}</span></div>
                    </div>
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Học phí: </label></div>
                        <div class="col-sm-10"><span class="view">  {{ tutor.tuitionPerHour?tutor.tuitionPerHour:'chưa có dữ liệu'}} vnđ/h</span></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="introduction">
            <div class="header">
                <h2>Giới thiệu bản thân</h2>
            </div>
            <div class="container" style="margin-top:3%;margin-left: 2%;">
                <div class="row custom">
                    <div><label>Giới thiệu chung và kinh nghiệm gia sư, giảng dạy: </label></div>
                    <div> {{ tutor.introduction?tutor.introduction:'không có dữ liệu'}}</div>
                </div>
                <div class="row custom" style="margin-top:2%">
                    <div><label>Chủ đề dạy: </label></div>
                    <div *ngIf="tutor.subjects;else notsubject"><span *ngFor="let item of tutor.subjects"> {{ item.name+", "}} </span></div>
                </div>
                <ng-template #notsubject>
                    <span>Không có dữ liệu</span>
                </ng-template>

            </div>
        </div>
        <hr>

        <div class="introduction">
            <div class="header">
                <h2>Lịch dạy của gia sư</h2>
            </div>
            <div class="container" style="margin-top:3%;margin-left: 2%;">
                <div class="row info-step-2 info-step">
                    <label>Lịch dạy </label>
                    <strong style="margin-left: 400px;">(Màu cam là những buổi có lịch dạy )</strong>
                    <div class="content-info-step-2">
                        <div class='row-calendar-check' *ngFor="let item of dateofWeak;let i=index">

                            <h4>{{item}}</h4>

                            <label *ngIf="day[i]===1||day[i]===2|| day[i]===5||day[i]===6;else showmorning"><span  style="color: #FF9900;">Sáng</span></label>
                            <ng-template #showmorning><label>Sáng</label></ng-template>

                            <label *ngIf="day[i]===1||day[i]===3|| day[i]===5||day[i]===7;else showafter"><span  style="color: #FF9900;">Chiều</span></label>
                            <ng-template #showafter><label>Chiều</label></ng-template>

                            <label *ngIf="day[i]===1||day[i]===4||day[i]===6||day[i]===7;else shownight"><span  style="color: #FF9900;">Tối</span></label>
                            <ng-template #shownight><label>Tối</label></ng-template>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="address">
            <div class="header">
                <h2>Địa chỉ của gia sư</h2>
            </div>
            <div class="container" style="margin-top:3%;margin-left: 2%;">
                <div class="row custom">
                    <div><label>Địa chỉ cụ thể của gia sư: </label></div>
                    <div> {{ tutor.address?address:'không có dữ liệu'}}</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="images">
            <div class="header">
                <h2>Hình ảnh gia sư</h2>
            </div>
            <div class="container" style="margin-top:3%;margin-left: 2%;">
                <div class="col-xs-4">
                    <div style="margin-left:30%"><label>Ảnh chân dung</label></div>
                    <img src="../../../assets/images/gsb.jpg" width='250px' height='180px'>

                </div>
                <div class="col-xs-4">
                    <div style="margin-left:30%"><label>Văn bằng</label></div>
                    <img src="../../../assets/images/gsb.jpg" width='250px' height='180px'>


                </div>
                <div class="col-xs-4">
                    <div style="margin-left:10%"><label>Giấy chứng minh nhân dân</label></div>
                    <img src="../../../assets/images/gsb.jpg" width='250px' height='180px'>
                </div>
            </div>
        </div>
        <hr>
        <div class="address" style="text-align: center; margin-top: 2%;">
            <span *ngIf="tutor.status===4;else logaccount" class="status"><button style="color: red;background: white;"(click)="disable(tutor.id)"><i class="glyphicon glyphicon-exclamation-sign" style="transform: scaleX(-1);color: red;"></i>Khóa</button></span>
            <ng-template #logaccount><button style="color: green;background: white;" (click)="confirm(tutor.id)"><i class="glyphicon glyphicon-exclamation-sign" style="transform: scaleX(-1);color: green;"></i>Đồng ý duyệt</button></ng-template>

            <button (click)="gotoTutorpage()" style="color: #FF9900;background: white;margin-left: 3%;"><i class="glyphicon glyphicon-share-alt" style="transform: scaleX(-1);color: orange;"></i>Trở về</button>
        </div>


    </section>
</div>
<div class="col-xs-1 "></div>