.header {
    border-bottom: 2px solid #069d86;
    margin-bottom: 0;
}

.backgroup {
    height: 200px;
    background-image: url('https://thuthuatnhanh.com/wp-content/uploads/2020/01/hinh-nen-powerpoint-don-gian-dep-voi-san-go.jpg');
}

.img-circle {
    margin-top: 10%;
    margin-left: 5%;
    border: 5px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.col-xs-10 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.content-block {
    margin-top: 2%;
    margin-left: 1%;
}

h2 {
    border: 1px solid #069d86;
    background: #069d86;
    color: white;
    text-align: center;
}

.view {
    margin-left: 2%;
}

.custom {
    height: 40px;
}

.infor {
    height: 204px;
}

.header {
    width: 260px;
    height: 15px;
    margin-left: 1%;
}

.introduction {
    height: 180px;
}

.content-info-step-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-calendar-check {
    min-width: 118px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.address {
    height: 100px;
}

.images {
    height: 260px;
}

.status {
    color: orange;
    margin-left: 7%;
}

.statusgs {
    color: orange;
    margin-left: 20%;
}