.header {
    border-bottom: 2px solid #069d86;
    margin-bottom: 0;
}

.backgroup {
    height: 200px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQY0suiz9oZ4vdG36hkWy6cdXxu2OTNqdScAiR1DY32zn15Iqvv&usqp=CAU');
}

.img-circle {
    margin-top: 10%;
    margin-left: 5%;
    border: 5px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.body-block {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.content-block {
    margin-top: 2%;
    margin-left: 1%;
}

h2 {
    border: 1px solid #069d86;
    background: #069d86;
    color: white;
    text-align: center;
}

.view {
    margin-left: 2%;
}

.custom {
    height: 40px;
}