<div class="col-xs-1"></div>
<div class="col-xs-10" style="margin-top: 7%;margin-bottom: 3%;">
    <section>
        <div *ngIf="user" class="backgroup">
            <div>
                <div>
                    <img src="{{user.avatar}}" class="img-circle">
                </div>

            </div>

        </div>
        <h1 style="margin-left:22%">{{user.fullName ? user.fullName : user.userName }}</h1>
        <hr>
        <div>
            <div class="col-xs-3">
                <h2>Thông tin người dùng</h2>
                <button (click)="gotoUserpage()" style="color: #FF9900;background: white;"><i class="glyphicon glyphicon-share-alt" style="transform: scaleX(-1);color: orange;"></i>Trở về</button>
            </div>
            <div class="col-xs-9">
                <div class="container" style="margin-left: 5%;">

                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Tên người dùng: </label></div>
                        <div class="col-sm-10"><span class="view">  {{ user.userName}}</span></div>
                    </div>
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Quyền: </label></div>
                        <div class="col-sm-10"><span class="view">  {{ user.roles}}</span></div>
                    </div>
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Email: </label></div>
                        <div class="col-sm-10"><span class="view">  {{ user.email}}</span></div>
                    </div>
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Token đăng nhập: </label></div>
                        <div class="col-sm-10"><span class="view">  {{user.token? user.token : noData}}</span></div>
                    </div>
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Số điện thoại: </label></div>
                        <div class="col-sm-10"><span class="view">  {{user.phoneNumber? user.phoneNumber : noData}}</span></div>
                    </div>
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Địa chỉ: </label></div>
                        <div class="col-sm-10"><span class="view">  {{user.addressView? address : noData}}</span></div>
                    </div>

                </div>
            </div>


        </div>

    </section>
</div>
<div class="col-xs-1 "></div>