.card {
    margin-top: 7%;
    margin-bottom: 5%;
}

.invalid-feedback {
    color: red;
}

.header {
    border-bottom: 2px solid #069d86;
    margin-bottom: 0;
}

.title {
    display: inline-block;
    padding: 6px 40px 6px 10px;
    background: #069d86;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

h3 {
    color: #069d86;
}

.content-info-step-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-calendar-check {
    min-width: 118px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.content-info-step-2 .row-calendar-check ul li label {
    width: 100%;
    background: #fffdfd;
    padding: 6px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #CCC;
    text-transform: uppercase;
    color: #9e9d9d;
}

.content-info-step-2 .row-calendar-check ul li {
    padding: 0;
    list-style: none;
    margin-bottom: 3px;
}

.content-info-step-2 .row-calendar-check ul {
    text-align: center;
    padding: 0 !important;
    width: 100%;
}

.content-info-step-2 .row-calendar-check {
    min-width: 118px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #069d86;
}

.content-info-step-2 .row-calendar-check ul li label.lbl-active {
    background: #03ad03;
    color: #fff !important;
}