<div class="col-sm-1"></div>
<div class="col-sm-10 card m-3">
    <div class="header">
        <span class="title" style="margin-top:5%; text-align: center;">HỒ SƠ GIÁO VIÊN</span>
    </div>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h3>Thông tin cá nhân</h3>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label>Họ tên đầy đủ *</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Họ tên đầy đủ yêu cầu nhập</div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label>Điện thoại *</label>
                    <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Điện thoại không được để trống</div>
                        <div *ngIf="f.phone.errors.pattern">Điện thoại không được chữ số</div>
                    </div>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-sm-6">
                    <label>Tỉnh thành phố đang sống *</label>
                    <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">Tỉnh thành phố đang sống không được để trống</div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label>Địa chỉ cụ thể *</label>
                    <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.errors.required">Địa chỉ không được để trống</div>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label>Mô tả bản thân*</label>
                <br>
                <i>(Bạn cần ghi đầy đủ ưu điểm của bản thân để nhận được lớp trong thời gian sớm nhất)
                    <a class="popup-modal" (click)="openModal(template)">Xem hướng dẫn</a>
                </i>
                <textarea id="mota" placeholder="Mô tả bản thân" name="mota" formControlName="describe" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"></textarea>
                <div *ngIf="submitted && f.describe.errors" class="invalid-feedback">
                    <div *ngIf="f.describe.errors.required">Mô tả không được để trống</div>
                </div>
            </div>
            <h3>Hồ sơ chuyên môn</h3>

            <div class="form-group col-sm-6" style="clear: both;">
                <label>Bạn đang là( Bấm để chọn) *</label>
                <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                    <option value=""></option>
                    <option value="sv">Sinh viên</option>
                    <option value="gv">Giáo viên </option>
                    <option value="nnn">Người nước ngoài</option>
                    <option value="cg">Chuyên gia</option>
                    <option value="ndl">Người đi làm</option>
                    <option value="hs">Học sinh</option>
                </select>
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">Chọn môt trong các giá trị</div>
                </div>
            </div>

            <div class="form-group col-sm-6 " style="clear: both;">
                <label>Phí học 1 giời (VNĐ) *</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Học phí không được để trống</div>
                </div>
            </div>

            <div class="form-row col-sm-6 " style="clear: both;">
                <div class="form-group col">
                    <label>Môn học sẽ dạy </label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Môn học không được để trống</div>

                    </div>
                </div>

            </div>
            <div class="form-group col-sm-12" style="clear: both;">
                <div class="row info-step-2 info-step">
                    <label>LỊCH CÓ THỂ NHẬN LỚP <span class="teacher-alert">*</span> </label>
                    <div class="content-info-step-2">
                        <div class='row-calendar-check' *ngFor="let item of dateofWeak;let i=index">
                            <h4>{{item}}</h4>
                            <ul>
                                <li><label for='morning-calendar-{{i+2}}'>Sáng</label><input class='radio-calendar' id='morning-calendar-{{i+2}}' type='checkbox' name='sang_{{i+2}}' value='sang_{{i+2}}'></li>
                                <li><label for='afternoon-calendar-{{i+2}}'>Chiều</label><input class='radio-calendar' id='afternoon-calendar-{{i+2}}' type='checkbox' name='chieu_{{i+2}}' value='chieu_{{i+2}}'></li>
                                <li><label for='evening-calendar-{{i+2}}'>Tối</label><input class='radio-calendar' id='evening-calendar-{{i+2}}' type='checkbox' name='toi_{{i+2}}' value='toi_{{i+2}}'></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center" style="clear: both;">
                <button class="btn btn-primary mr-1">Cập nhập</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </div><br>
    <h3>Ảnh xác thực thông tin gia sư</h3>
    <div>
        <div class="col-xs-4">
            ẢNH ĐẠI DIỆN (PHẢI RÕ MẶT, CHỤP MỘT MÌNH) *
        </div>
        <div class="col-xs-4 content_img">
            THẺ SINH VIÊN HOẶC BẰNG CẤP (BẢO MẬT TUYỆT ĐỐI; KHÔNG HIỂN THỊ) *
        </div>
        <div class="col-xs-4">
            CHỨNG MINH THƯ MẶT TRƯỚC (BẢO MẬT TUYỆT ĐỐI; KHÔNG HIỂN THỊ) *
        </div>
    </div>

    <div>

        <div class="col-xs-4" style="margin:0 auto">

            <form #imageForm=ngForm (ngSubmit)="OnSubmit(Image)">
                <div class="form-group">
                    <img src="{{imageUrl1}}" width='300px' height='222px'>
                    <input type="file" #Image accept="image/*" (change)="handleFileInput1($event.target.files)" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" [disabled]="Image.value=='' || !imageForm.valid">Upload</button>
                </div>
            </form>

        </div>
        <div class="col-xs-4 content_img">
            <div class="form-group">
                <img src="../../../assets/images/gsb.jpg" width='300px' height='222px'>
                <input type="file" name="profile" />

            </div>
            <div class="form-group">
                <button class="btn btn-success">Upload</button>
            </div>
        </div>
        <div class="col-xs-4">

            <div class="form-group">
                <img src="../../../assets/images/gsb.jpg" width='300px' height='222px'>
                <input type="file" name="profile" />
            </div>
            <div class="form-group">
                <button class="btn btn-success">Upload</button>
            </div>
        </div>


    </div>
</div>

<div class="col-sm-1"></div>

<ng-template #template>
    <div class="modal-header">
        <h2>Hướng dẫn</h2>
    </div>
    <div>
        Giới thiệu trung thực về thành tích học tập, kinh nghiệm, phương pháp dạy cũng như đôi nét thú vị về bản thân bạn. Hồ sơ của bạn sẽ được gửi tới Phụ huynh & Học sinh lựa chọn vậy nên các bạn hướng người đọc đến đối tượng là phụ huynh & học sinh. Bạn phải
        nói được cho họ biết vì sao họ chọn bạn mà không phải là gia sư khác! Ví dụ bạn học trường top đầu Việt Nam thì bạn có thể đưa ra điểm thi ĐH, thành tích HSG của bạn cho phụ huynh xem nhưng nếu bạn học trường bình thường thì phải đưa ra các lí
        do khác như học phí rẻ, yêu thích việc dạy học để những gia đình có điều kiện bình thường họ chọn bạn. Tham khảo phần tự giới thiệu của các gia sư khác để viết được 1 phần giới thiệu thật hay nhé! Lưu ý: Rất nhiều bạn gia sư giỏi nhưng vẫn chưa
        nhận được lớp hoặc nhận được những lớp lương thấp không phù hợp với năng lực vì phần tự giới thiệu quá sơ sài, sai chính tả, đặt dấu câu bừa bãi, không chịu chăm chút câu chữ để làm nổi bật bản thân. Nếu các bạn học chuyên cấp 3 thì ghi rõ chuyên
        gì, trường chuyên nào. Nếu đạt HSG Quận/Huyện, Tỉnh/TP, Quốc Gia thì ghi rõ giải mấy, môn gì, năm lớp mấy. Ghi rõ điểm ĐH/CĐ các môn cụ thể. Nếu đã từng đi dạy thì nêu rõ đã dạy cho những em học sinh nào, lớp mấy, nhà ở đâu, tiến bộ cụ thể như
        thế nào? Nếu được nhận làm gia sư thì nêu rõ phương pháp dạy như thế nào, phong cách dạy ra làm sao?
    </div>
</ng-template>

<!-- upload file -->