.login-block {
    margin: 30px auto;
}

.login-block .auth-box {
    max-width: 450px !important
}

.heading {
    font-size: 21px;
    color: #069D86;
}

.card {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff
}

.card .card-block {
    padding: 1.25rem
}

.f-80 {
    font-size: 80px
}

.form-group {
    margin-bottom: 1.25em;
}

.form-material .form-control {
    display: inline-block;
    height: 35px;
    width: 100%;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 9px;
    background-color: beige;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc
}

.m-b-20 {
    margin-bottom: 20px
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

#infoMessage p {
    color: red !important
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}

.invalid-feedback {
    color: red;
    font-size: 12px;
}

.text-red {
    color: red;
}

.navbar {
    background-color: #069D86;
}

.item {
    color: black;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: 1px solid #069d86 !important;
}

.navbar-header {
    margin-left: 10%;
}

.title {
    font-family: monospace;
    color: white;
    font-size: 30px;
}

.nav {
    margin-right: 10%;
}

.image-cropper {
    display: block;
    margin: 0 auto;
}

.second {
    padding-left: 10%;
}

.ssstable {
    color: rgb(119, 82, 82);
    margin-left: 25%;
}

.column {
    padding: 2em;
}

.options {
    margin-top: 15px;
}

.elementToFadeInAndOut {
    color: red;
    height: 200px;
}

.valid-feedback {
    height: 200px;
    color: green;
}

.header {
    border-bottom: 2px solid #069d86;
    margin-bottom: 0;
}

.custom {
    height: 40px;
}