<div class="container" style="margin-top: 6%;">

    <ngb-tabset [destroyOnHide]="false" class="nav-tabs">

        <ngb-tab title="Sửa thông tin cá nhân">
            <ng-template ngbTabContent>
                <section class="login-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="md-float-material form-material" [formGroup]="editUserForm" (ngSubmit)="onSubmitUser()">
                                    <div class="auth-box card">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="text-center heading"> <span class="glyphicon glyphicon-user item"></span>Thông tin cá nhân</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Họ tên đầy đủ:<span style="color: red;">*</span></label>
                                                        <input formControlName="fullName" class="form-control" [value]="user.fullName" [ngClass]="{ 'is-invalid': submitted && y.fullName.errors }" />
                                                        <div *ngIf="submitted && y.fullName.errors" class="invalid-feedback">
                                                            <div *ngIf="y.fullName.errors.required">Trường này bắt buộc</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Số điện thoại:<span style="color: red;">*</span> </label>
                                                        <input formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && y.phone.errors }" />
                                                        <div *ngIf="submitted && y.phone.errors" class="invalid-feedback">
                                                            <div *ngIf="y.phone.errors.required">Trường này bắt buộc</div>
                                                            <div *ngIf="y.phone.errors.maxLength || y.phone.errors.minlength ">Nhập số điện thoại có 10 chữ số</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <span *ngIf="notificationUser " class=" modal-dialog valid-feedback  ">
                                                    {{notificationUser.message}}
                                                </span>
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit" class="btn btn-success btn-sm ">Lưu</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-bottom: -30px;">
                            <form class="md-float-material form-material" [formGroup]="editAddressForm" (ngSubmit)="onSubmitAddress()">
                                <div class="auth-box card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3 class="text-center heading"> <span class="glyphicon glyphicon-home" style="color: black;"></span> Địa chỉ liên hệ</h3>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label>Số nhà:</label>
                                                    <input formControlName="houseNumber" class="form-control" />
                                                </div>
                                                <div class="form-group ">
                                                    <label>Đường phố/ Thôn:<span style="color: red;">*</span></label>
                                                    <input formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': submitted && z.street.errors }" />
                                                    <div *ngIf="submitted && z.street.errors" class="invalid-feedback">
                                                        <div *ngIf="z.street.errors.required">Trường này bắt buộc</div>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label>Xã/Phường:<span style="color: red;">*</span></label>
                                                    <input formControlName="commune" class="form-control" [ngClass]="{ 'is-invalid': submitted && z.commune.errors }" />
                                                    <div *ngIf="submitted && z.commune.errors" class="invalid-feedback">
                                                        <div *ngIf="z.commune.errors.required">Trường này bắt buộc</div>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label>Quận/ Huyện:<span style="color: red;">*</span></label>
                                                    <input formControlName="district" class="form-control" [ngClass]="{ 'is-invalid': submitted && z.district.errors }" />
                                                    <div *ngIf="submitted && z.district.errors" class="invalid-feedback">
                                                        <div *ngIf="z.district.errors.required">Trường này bắt buộc</div>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label>Tỉnh/ Thành phố:<span style="color: red;">*</span></label>
                                                    <input formControlName="city" class="form-control" [value]="user.addressView.city || ' '" [ngClass]="{ 'is-invalid': submitted && z.city.errors }" />
                                                    <div *ngIf="submitted && z.city.errors" class="invalid-feedback">
                                                        <div *ngIf="z.city.errors.required">Trường này bắt buộc</div>
                                                    </div>
                                                </div>
                                                <div class="form-group text-center">
                                                    <span *ngIf="notificationAddress " class=" modal-dialog valid-feedback ">
                                                    {{notificationAddress.message}}
                                                </span>
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-success btn-sm ">Lưu</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </ng-template>
        </ngb-tab>

        <ngb-tab>
            <ng-template ngbTabTitle>Đổi mật khẩu</ng-template>
            <ng-template ngbTabContent>
                <section class="login-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12" style="margin-bottom: -30px;">
                                <form class="md-float-material form-material" [formGroup]="changePassswordForm" (ngSubmit)="onSubmitPasssword()">
                                    <div class="auth-box card">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Mật khẩu cũ:<span style="color: red;">*</span></label>
                                                        <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" placeholder="Nhập mật khẩu từ 8 ký tự" />
                                                        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                                                            <div *ngIf="f.oldPassword.errors.required">Trường này bắt buộc</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Mật khẩu mới:<span style="color: red;">*</span> </label>
                                                        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" placeholder="Nhập mật khẩu từ 8 ký tự" />
                                                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                                            <div *ngIf="f.newPassword.errors.required">Trường này bắt buộc</div>
                                                            <div *ngIf="f.newPassword.errors.pattern || f.newPassword.errors.minlength ">Nhập mật khẩu ít nhất 8 ký tự, bao gồm chữ thường, chữ hoa, số và ký tự đặc biệt</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label>Nhập lại mật khẩu:<span style="color: red;">*</span></label>
                                                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Nhập lại mật khẩu" z/>
                                                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                                            <div *ngIf="f.confirmPassword.errors.required">Trường này bắt buộc</div>
                                                            <div *ngIf="f.confirmPassword.errors.mustMatch">Mật khẩu không khớp</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <span *ngIf="notificationSuccess " class=" modal-dialog valid-feedback ">
                                                    {{notificationSuccess.message}}
                                                </span>
                                                        <span *ngIf="notificationError " class="elementToFadeInAndOut modal-dialog ">
                                                    {{notificationError.message}}
                                                </span>
                                                    </div>
                                                    <div class="text-center">
                                                        <button class="btn btn-success btn-sm ">Đổi mật khẩu</button>
                                                        <button class="btn btn-primary btn-sm" style="margin-left: 10px;" type="reset" (click)="onReset()">Nhập lại</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </ng-template>
        </ngb-tab>

    </ngb-tabset>
</div>