<section class="login-block" style="margin-bottom: 5px;">
    <header class="header-main">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand item" href="index.html">
                        <span class="title">
                            <img src="../../../assets/images/main.png" style="height: 40px;margin-top: -11px;border-radius: 5px;">
                            <img src="../../../assets/images/bg.gif" style="height: 40px;margin-top: -11px;border-radius: 5px;">   
                            GIA SƯ ĐÀ NẴNG
                        </span>

                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a [routerLink]="['/login']" routerLinkActive="router-link-active"><span class="glyphicon glyphicon-user item"> Đăng nhập </span></a></li>
                    <li><a [routerLink]="['/register']" routerLinkActive="router-link-active"><span class="glyphicon glyphicon-log-in item"> Đăng ký</span></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid" style="margin-top: 50px; clear:both">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="form-group text-center">
                                    <span *ngIf="infoMessage.length > 0" class="register modal-dialog ">{{ infoMessage }}</span>
                                </div>
                                <div class="col-md-12">
                                    <h3 class="text-center heading"> <span class="glyphicon glyphicon-user item"></span> Đăng nhập </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Nhập email" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Trường này bắt buộc</div>
                                            <div *ngIf="f.email.errors.email">Vui lòng nhập email đúng định dạng</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Mật khẩu</label>
                                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Nhập mật khẩu từ 8 ký tự" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Trường này bắt buộc</div>
                                            <div *ngIf="f.password.errors.minlength">Nhập mật khẩu ít nhất 8 ký tự</div>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <span *ngIf="notification " class="elementToFadeInAndOut modal-dialog ">
                                    {{notification.message}}
                                </span>
                                    </div>
                                    <div class="text-center ">
                                        <span *ngIf="loading " class="spinner-border spinner-border-sm mr-1 "></span>
                                        <button class="btn btn-success ">Đăng nhập</button>
                                        <button class="btn btn-primary " style="margin-left: 10px; " type="reset " (click)="onReset() ">Nhập lại</button>
                                    </div><br>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 ">
                                    <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline " href="# " onclick="return false; " role="button " (click)="socialLogin() "><img src="https://img.icons8.com/color/16/000000/google-logo.png "> Đăng nhập bằng tài khoản Google</a>
                                </div>
                            </div> <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p class=" options text-center ">
        Bạn chưa có tài khoản?
        <a [routerLink]="[ '/register'] " routerLinkActive="router-link-active " class="blue-text ">Đăng ký</a>
    </p>
    <footer style="background-color:#069D86; ">
        <table class="ssstable ">
            <tr>
                <th><span class="glyphicon glyphicon-user css "></span></th>
                <th class="column "> Gia sư khắp cả nước</th>
                <th><span class="glyphicon glyphicon-thumbs-up css "></span></th>
                <th class="column "> Hàn ngàn lượt truy cập</th>
                <th><span class=" glyphicon glyphicon-star-empty css "></span></th>
                <th class="column "> 85000 bài đăng </th>
            </tr>
            <tr>
                <th><span class="glyphicon glyphicon-earphone "></span></th>
                <th class="column "> 19006262</th>
                <th><span class="glyphicon glyphicon-envelope "></span></th>
                <th class="column "> contact@gmail.com</th>
                <th></th>
                <th class="column "> <img src="../../../assets/images/fb.png " style="height: 40px;margin-top: -11px;border-radius: 5px; ">
                    <img src="../../../assets/images/yt.jpg " style="height: 40px;margin-top: -11px;border-radius: 5px; "></th>
            </tr>
        </table>

    </footer>
</section>