.left-bar {
    height: 420px;
    width: 200px;
    margin-top: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.router-link-active {
    height: 200px;
    color: #069D86;
}

.active {
    padding-top: 12px;
    height: 45px;
    border-bottom: 1px solid #CCCCCC;
    font-size: large;
}

span {
    color: black;
    margin-top: 50px;
    margin-left: 10%;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.admin {
    height: 85px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 17px;
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}