<div class="left-bar">
    <div class="admin">ADMIN</div>
    <div class="active">

        <span [routerLink]="['/list-news']" routerLinkActive="router-link-active"> 
            Quản lý bài đăng
        </span>
    </div>
    <div class="active">
        <span [routerLink]="['/list-user']" routerLinkActive="router-link-active">
            Quản lý người dùng
        </span>
    </div>
    <div class="active">
        <span [routerLink]="['/list-roles']" routerLinkActive="router-link-active">
           Quản lý quyền
        </span>
    </div>
    <div class="active">
        <span [routerLink]="['/list-tutor']" routerLinkActive="router-link-active">
            Quản lý gia sư 
        </span>
    </div>
</div>