<div class="col-xs-1"></div>
<div class="col-xs-10" style="margin-top: 7%;margin-bottom: 3%;">
    <section>
        <div *ngIf="user" class="backgroup">
            <div>
                <!-- <div class="content_img">
                    <img src="{{avatar}}" class="img-circle">
                    <div class="box-cover">
                        <input type="file" name="edit_cover" class="inputfile_avt" id="edit_cover" onchange="return ajax_update_image('edit_cover','show-cover',1134,'/ajax-update-image/cover/32779')">
                        <label for="edit_cover"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                            <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>                       
                            </svg> </label>
                    </div>
                </div> -->
                <div class="content_img ">
                    <img src="{{avatar}}" class="img-circle">
                    <form #imageForm=ngForm (ngSubmit)="OnSubmit(Image)">
                        <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)" name="edit_cover" class="inputfile_avt" id="edit_cover" onchange="return ajax_update_image('edit_cover','show-cover',1134,'/ajax-update-image/cover/32779')">
                        <label for="edit_cover" [hidden]="changeImage" style="margin-left: 20%;"><svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 20 17">
                            <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>                       
                            </svg>Upload </label>
                        <button type="submit" [hidden]="!changeImage" class="btn-large btn-submit btn-form" [disabled]="Image.value=='' || !imageForm.valid"><span class="glyphicon glyphicon-upload"></span></button>
                    </form>
                </div>
            </div>

        </div>
        <h2 style="margin-left:22%">{{user.fullName? user.fullName : user.userName }}</h2>
        <div class="container" style="margin-left: 5%;">

            <div class="row custom">
                <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Tên người dùng: </label></div>
                <div class="col-sm-10"><span class="view">  {{ user.userName}}</span></div>
            </div>
            <div class="row custom">
                <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Loại tài khoản: </label></div>
                <div class="col-sm-10" *ngFor="let item of user.roles"><span class="view">  {{item }}</span></div>
            </div>
            <div class="row custom">
                <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Email: </label></div>
                <div class="col-sm-10"><span class="view">  {{ user.email}}</span></div>
            </div>
            <div class="row custom">
                <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Số điện thoại: </label></div>
                <div class="col-sm-10"><span class="view">  {{user.phoneNumber? user.phoneNumber : noData}}</span></div>
            </div>
            <div class="row custom">
                <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Địa chỉ: </label></div>
                <div class="col-sm-10"><span class="view">  {{address.length > 0 ? address : noData}}</span></div>
            </div>
        </div>
    </section>
    <section *ngIf="tutor.status===4">
        <div class="header1">
            <span class="title" style="margin-top:5%; text-align: center;">Thông tin gia sư</span>
        </div>

        <hr>
        <div class="infor">
            <div class="col-xs-3">
                <h2 class="hclass">Thông tin chung</h2>

            </div>

            <div class="col-xs-9">
                <div class="container" style="margin-left: 5%;">
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Nghề nghiệp: </label></div>
                        <div class="col-sm-10"><span class="view">  {{ tutor.job?tutor.job:'không có dữ liệu'}}</span></div>
                    </div>
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Hình thức dạy: </label></div>
                        <div class="col-sm-10"><span class="view"> {{ tutor.teachingType?tutor.teachingType == '1' ? 'Dạy online' :'Dạy offline':'không có dữ liệu'}}</span></div>
                    </div>
                    <div class="row custom">
                        <div class="col-sm-2"><i class="glyphicon glyphicon-star-empty" style="color:#FF9900"></i><label>Học phí: </label></div>
                        <div class="col-sm-10"><span class="view">  {{ tutor.tuitionPerHour?tutor.tuitionPerHour:'chưa có dữ liệu'}} vnđ/h</span></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="introduction">
            <div class="header">
                <h2 class="hclass">Giới thiệu bản thân</h2>
            </div>
            <div class="container" style="margin-top:3%;margin-left: 2%;">
                <div class="row custom">
                    <div><label>Giới thiệu chung và kinh nghiệm gia sư, giảng dạy: </label></div>
                    <div> {{ tutor.introduction?tutor.introduction:'không có dữ liệu'}}</div>
                </div>
                <div *ngIf="tutor.subjects;else notsubject" class="row custom" style="margin-top:2%">
                    <div><label>Chủ đề dạy: </label></div>
                    <div *ngIf="tutor.subjects;else notsubject"><span *ngFor="let item of tutor.subjects"> {{ item.name+", "}} </span></div>
                </div>

            </div>
        </div>
        <hr>

        <div class="introduction">
            <div class="header">
                <h2 class="hclass">Lịch dạy của gia sư</h2>
            </div>
            <div *ngIf="dateofWeek" class="container" style="margin-top:3%;margin-left: 2%;">
                <div class="row info-step-2 info-step">
                    <label>Lịch dạy </label>

                    <strong style="margin-left: 400px;">(Màu cam là những buổi có lịch dạy )</strong>
                    <div class="content-info-step-2">
                        <div class='row-calendar-check' *ngFor="let item of dateofWeek;let i=index">

                            <h4>{{item}}</h4>

                            <label *ngIf="day[i]===1||day[i]===2|| day[i]===5||day[i]===6;else showmorning"><span  style="color: #FF9900;">Sáng</span></label>
                            <ng-template #showmorning><label>Sáng</label></ng-template>

                            <label *ngIf="day[i]===1||day[i]===3|| day[i]===5||day[i]===7;else showafter"><span  style="color: #FF9900;">Chiều</span></label>
                            <ng-template #showafter><label>Chiều</label></ng-template>

                            <label *ngIf="day[i]===1||day[i]===4||day[i]===6||day[i]===7;else shownight"><span  style="color: #FF9900;">Tối</span></label>
                            <ng-template #shownight><label>Tối</label></ng-template>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div *ngIf="tutorAddress" class="address">
            <div class="header">
                <h2 class="hclass">Địa chỉ:</h2>
            </div>
            <div class="container" style="margin-top:3%;margin-left: 2%;">
                <div class="row custom">
                    <div><label>Địa chỉ cụ thể của gia sư: </label></div>
                    <div> {{ tutorAddress}}</div>
                </div>
            </div>

            <hr>
        </div>
        <div class="images" *ngIf="imageArr">
            <div class="header">
                <h2 class="hclass">Hình ảnh gia sư</h2>
            </div>
            <div class="container" style="margin-top:3%;margin-left: 2%;">
                <div class="col-xs-4" *ngIf="tutorAvatar">
                    <div style="margin-left:30%"><label>Ảnh chân dung</label></div>
                    <img src="{{tutorAvatar}}" width='250px' height='180px'>

                </div>
                <div class="col-xs-4" *ngIf="tutorCertificate">
                    <div style="margin-left:30%"><label>Văn bằng</label></div>
                    <img src="{{tutorCertificate}}" width='250px' height='180px'>


                </div>
                <div class="col-xs-4" *ngIf="tutorIdentityCard">
                    <div style="margin-left:10%"><label>Giấy chứng minh nhân dân</label></div>
                    <img src="{{tutorIdentityCard}}" width='250px' height='180px'>
                </div>
            </div>
        </div>
        <hr>

    </section>
</div>