.backgroup {
    height: 200px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQY0suiz9oZ4vdG36hkWy6cdXxu2OTNqdScAiR1DY32zn15Iqvv&usqp=CAU');
}

.img-circle {
    margin-top: 45%;
    margin-left: 15%;
    border: 4px solid black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    z-index: 1;
}

.body-block {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.content-block {
    margin-top: 2%;
    margin-left: 1%;
}

.view {
    margin-left: 2%;
}

.custom {
    height: 40px;
}

.inputfile_avt {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box-avatar label {
    padding: 0;
    padding-top: 12px;
    color: #fff;
}

.inputfile_avt+label {
    max-width: 80%;
    font-size: 16px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    padding: .625rem 1.25rem;
}

.content_img {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
}


/* Child Text Container */

.content_img form {
    position: absolute;
    bottom: -38px;
    right: 21px;
    background: black;
    color: white;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}


/* Hover on Parent Container */

.content_img:hover {
    cursor: pointer;
}

.content_img:hover form {
    height: 75px;
    width: 150px;
    border-radius: 0 0 90px 90px;
    /* width: 130px;
    height: 45px; */
    margin-top: 50px;
    margin-left: -5px;
    visibility: visible;
    color: white;
    opacity: 0.7;
}

.btn-form {
    margin-left: 37%;
    color: rgb(224, 36, 36);
}

.title {
    display: inline-block;
    padding: 6px 40px 6px 10px;
    background: orangered;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.row-calendar-check {
    min-width: 118px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.introduction {
    height: 180px;
}

.content-info-step-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-xs-10 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.content-block {
    margin-top: 2%;
    margin-left: 1%;
}

.hclass {
    border: 1px solid #069d86;
    background: #069d86;
    color: white;
    text-align: center;
}

.view {
    margin-left: 2%;
}

.custom {
    height: 40px;
}

.infor {
    height: 204px;
}

.header {
    width: 260px;
    height: 15px;
    margin-left: 1%;
}

.header1 {
    border-bottom: 2px solid orangered;
    margin-bottom: 0;
}

.introduction {
    height: 180px;
}

.content-info-step-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-calendar-check {
    min-width: 118px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.address {
    height: 100px;
}

.images {
    height: 260px;
}

.status {
    color: orange;
    margin-left: 20%;
}