.navbar {
    background-color: #069D86;
}

.item {
    color: black;
    font-weight: bold;
}

.item:hover {
    cursor: pointer;
}

.navbar-header {
    margin-left: 5%;
    margin-bottom: 1%;
}

.title {
    font-family: monospace;
    color: white;
    font-size: 30px;
}

.nav {
    margin-right: 10%;
}

.input-group {
    width: 30%;
    margin-top: 1%;
}

.manage {
    width: 600px;
    height: 60px;
    margin-top: -4%;
    margin-right: -1%;
}

.navbar-nav>li>a {
    padding-top: 23px;
    padding-bottom: 9px;
}

.menu {
    margin-top: 22px;
    margin-right: 10px;
    margin-left: 8px;
}

.functionadmin li {
    margin-left: 8%;
    margin-top: 3%;
}

.functionadmin a {
    color: black;
}

.navbar-header a img {
    height: 40px;
    margin-top: -11px;
    border-radius: 5px;
}

.dropdown-menu p {
    font-weight: bold;
    margin-left: 3%;
}