<header class="header-main">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand item" [routerLink]="['/home']" style="margin-left: 15px;">
                    <span class="title" style=" margin-left: -57px;">
                       <img src="../../../assets/images/main.png" >
                        <img src="../../../assets/images/bg.gif">   
                        GIA SƯ ĐÀ NẴNG
                    </span>
                </a>
                <form>
                    <div class="input-group" style="width: 24%;">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                        </div>
                    </div>
                </form>
                <div class="navbarcss">
                    <ul class="nav navbar-nav navbar-right manage">
                        <li><a [routerLink]="['/']" routerLinkActive="router-link-active"><span class=" item"> Đăng bài</span></a></li>
                        <li><span *ngIf="j==0;else file"><a [routerLink]="['/signup-tutor']" routerLinkActive="router-link-active"><span class=" item"> Đăng ký làm gia sư</span></a>
                            </span>
                            <ng-template #file><a [routerLink]="['/signup-tutor']" routerLinkActive="router-link-active"><span class=" item"> Hoàn tất hồ sơ</span></a></ng-template>
                        </li>


                        <li><a [routerLink]="['/writting']" routerLinkActive="router-link-active"><span class=" item"> Bài viết </span></a></li>
                        <li><a [routerLink]="['/tutor']" routerLinkActive="router-link-active"><span class=" item"> Xem gia sư </span></a></li>
                        <li><a><span class="glyphicon glyphicon-bell item">  </span></a></li>
                        <li>
                            <div appDropdown class="menu">
                                <span class="glyphicon glyphicon-align-justify dropdowm-toggle item"></span>
                                <ul class="dropdown-menu">

                                    <p> Chức năng giáo viên</p>
                                    <hr>
                                    <li>
                                        <a [routerLink]="['/writting']" routerLinkActive="router-link-active"><i class="glyphicon glyphicon-record"></i> Xem lớp mới</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="glyphicon glyphicon-record"></i> Đề nghị lớp đã dạy</a>
                                    </li>
                                    <hr>
                                    <p>Chức năng học viên</p>
                                    <hr>
                                    <li>
                                        <a [routerLink]="['/personal']" routerLinkActive="router-link-active"><i class="glyphicon glyphicon-star-empty"></i> Xem thông tin cá nhân</a></li>
                                    <li><a [routerLink]="['/edit-user']" routerLinkActive="router-link-active"><i class="glyphicon glyphicon-star-empty"></i> Sửa thông tin cá nhân</a></li>
                                    <li>
                                        <a href="#"><i class="glyphicon glyphicon-star-empty"></i> Quản lý các yêu cầu</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="glyphicon glyphicon-star-empty"></i> Đăng yêu cầu mới</a>
                                    </li>
                                    <hr>
                                    <div class="functionadmin" [hidden]="isadmin==false">
                                        <p>Chức năng admin</p>
                                        <hr>
                                        <li>
                                            <a [routerLink]="['/list-news']" routerLinkActive="router-link-active"><i class="glyphicon glyphicon-apple"></i> Quản lý bài đăng</a></li>
                                        <li><a [routerLink]="['/list-user']" routerLinkActive="router-link-active"><i class="glyphicon glyphicon-apple"></i> Quản lý người dùng</a></li>
                                        <li>
                                            <a [routerLink]="['/']" routerLinkActive="router-link-active"><i class="glyphicon glyphicon-apple"></i> Quản lý quyền </a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['/list-tutor']" routerLinkActive="router-link-active"><i class="glyphicon glyphicon-apple"></i>Quản lý gia sư</a>
                                        </li>
                                        <hr>
                                    </div>


                                    <li><a href="#" (click)="Logout()"><span class="glyphicon glyphicon-user item"> Đăng xuất </span></a></li>
                                </ul>
                            </div>

                        </li>
                        <li style="margin-top:20px; color: white;"><img className="rounded-circle" src="{{user.avatar.substring(0, 4) == 'http'? user.avatar: urlAvatar+user.avatar}}" style="width: 20px;height:20px;" />
                            <a [routerLink]="['/personal']" routerLinkActive="router-link-active" style="color: white;margin-top: 2px;"></a>
                        </li>
                        <li style=" color: white;margin-left: -12px;">
                            <a [routerLink]="['/personal']" routerLinkActive="router-link-active" style="color: white">{{user.userName|slice: 0 : 9}}</a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </nav>



</header>