.header {
    border-bottom: 2px solid #069d86;
    margin-bottom: 0;
}

.card {
    margin-top: 7%;
    margin-bottom: 5%;
}

img {
    padding-left: 13%;
    height: 80px;
    border-radius: 5px;
}

.one-row-class {
    margin-top: 2%;
    padding: 10px;
    background: #fff;
    position: relative;
    border-radius: 2px;
    clear: both;
    height: 150px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

h3 {
    color: #069D86;
}