<div class="col-sm-1"></div>
<div class="col-sm-10 card m-3">
    <div class="header">
        <strong class="title" style="margin-top:5%;font: 2em sans-serif;">Bài viết</strong>
    </div>
    <div class="one-row-class" *ngFor="let item of news">
        <div class="col-xs-2">
            <img src="../../../assets/images/main.png" />
            <h3>GIA SƯ ĐÀ NẴNG</h3>
        </div>
        <div class="col-xs-6">
            <strong> <a [routerLink]="['/writting-detail',item.id]" routerLinkActive="router-link-active" style="color:#069d86;">{{item.title}}{{item.address}}</a></strong>
            <br><br>
            <i>{{item.content}}</i>
            <br>
            <span style="border:1px solid #069d86">{{item.subject}}</span><span style="margin-left:2%;border:1px solid green">Lớp {{item.grade}}</span>
        </div>
        <div class="col-xs-2">
            <strong>Học phí đề nghị:</strong><br>
            <strong style="color: orange;">{{item.tuitionPerHour}}000vnđ/giờ</strong><br>
            <i>(Thời lượng: {{item.time}}h/buổi)</i>


        </div>
        <div class="col-xs-2">
            <strong>Phí:</strong><br>
            <strong style="color: orange;">{{item.addmissionFee}}000vnđ</strong>
            <br>
            <button class="btn btn-danger popup-modal" style="margin-top:10%" (click)="openModal(template)">Đề nghị dạy</button>
        </div>
    </div>

</div>

<div class="col-sm-1" style="clear: both;"></div>

<ng-template #template>
    <div class="modal-header">
        <h3>Gửi đề nghị dạy</h3>
    </div>
    <div>
        Hiện tài khoản giáo viên của bạn đang trong quá trình kiểm duyệt. Sau khi được chấp nhận tài khoản giáo viên bạn mới có thể gửi đăng ký dạy tới các lớp.
    </div>
</ng-template>