<div class="col-xs-2">
    <app-left-bar></app-left-bar>
</div>
<div class="col-xs-10" style="margin-top: 3%;margin-bottom: 3%;">
    <section>
        <div class="header">
            <span class="title" style="margin-top:5%; text-align: center;">QUẢN LÝ NGƯỜI DÙNG</span>
        </div>
        <div class="form-group text-center">
            <span *ngIf="notification" class="elementToFadeInAndOut">
                <i class="fas fa-check-circle {{notification.class}}"></i>
                {{notification.message}}
            </span>
        </div>
        <mat-form-field>
            <mat-label>Tìm kiếm </mat-label>
            <input style="width: 150px;" matInput (keyup)="applyFilter($event)" placeholder="Search">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="order">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> STT </th>
                <td mat-cell *matCellDef="let i=index"> {{ this.paginator.pageIndex == 0 ? i+1 : i+1 + this.paginator.pageIndex * this.paginator.pageSize}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="userName" style="text-align: center;">
                <th mat-header-cell *matHeaderCellDef> Tên người dùng </th>
                <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>

            <!-- Weight Column -->

            <!-- Symbol Column -->
            <ng-container matColumnDef="fullname" style="text-align: center;">
                <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>

            <ng-container matColumnDef="email" style="text-align: center;">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="avatar" style="text-align: center;">
                <th mat-header-cell *matHeaderCellDef> Avatar </th>
                <td mat-cell *matCellDef="let element">
                    <img src="{{element.avatar.substring(0, 4) == 'http'? element.avatar: urlAvatar+element.avatar}}" style="width: 50px;height: 50px;" />
                </td>
            </ng-container>
            <ng-container matColumnDef="phoneNumber" style="text-align: center;">
                <th mat-header-cell *matHeaderCellDef> SĐT </th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber?element.phoneNumber:'Không có dữ liệu'}} </td>
            </ng-container>

            <ng-container matColumnDef="function">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Chức năng </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-default"><a [routerLink]="['/user-detail',element.id]" routerLinkActive="router-link-active"><span class="glyphicon glyphicon-edit" style="color: green;"></span></a></button>
                    <button class="btn btn-default" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left" (confirm)="removeUser(element.id)" (cancel)="cancelClicked=true "><span class="glyphicon glyphicon-trash" style="color: red;"></span></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

    </section>
</div>