<div class="col-xs-2">
    <app-left-bar></app-left-bar>
</div>
<div class="col-xs-10" style="margin-top: 3%;margin-bottom: 3%;">
    <section>
        <div class="header">
            <span class="title" style="margin-top:5%; text-align: center;">QUẢN LÝ GIA SƯ</span>
        </div>
        <div class="form-group text-center">
            <span *ngIf="notification" class="elementToFadeInAndOut">
                <i class="fas fa-check-circle {{notification.class}}"></i>
                {{notification.message}}
            </span>
        </div>
        <mat-form-field>
            <mat-label>Tìm kiếm </mat-label>
            <input style="width: 150px;" matInput (keyup)="applyFilter($event)" placeholder="Search">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="order">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> STT </th>
                <td mat-cell *matCellDef="let i=index"> {{ this.paginator.pageIndex == 0 ? i+1 : i+1 + this.paginator.pageIndex * this.paginator.pageSize}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Tên gia sư </th>
                <td mat-cell *matCellDef="let element"> {{element?element.name:'Tutor đã bị xóa'}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">SĐT </th>
                <td mat-cell *matCellDef="let element"> {{element.phone?element.phone:'SĐT trống'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="job">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nghề nghiệp </th>
                <td mat-cell *matCellDef="let element;"> {{element.job?element.job:'Nghề nghiệp trống'}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Địa chỉ </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.address;else shownote">
                        {{element.address.city?element.address.city:'Dữ liệu trống'}}
                    </div>
                    <ng-template #shownote>Dữ liệu trống</ng-template>

                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Trạng thái </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.status===1" style="color:black">Gia sư mới</div>
                    <div *ngIf="element.status===2" style="color:blue">Đang đợi xác nhận</div>
                    <div *ngIf="element.status===3" style="color:orange">Gia sư không hợp lệ</div>
                    <div *ngIf="element.status===4" style="color:green">Đã kích hoạt</div>
                    <div *ngIf="element.status===5" style="color:red">Đã vô hiệu hóa</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="function">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Chức năng </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-default" style="margin:5px "><a [routerLink]="['/tutor-detail',element.id]" routerLinkActive="router-link-active">Duyệt</a></button>
                    <button class="btn btn-info" style="margin-right:7px ">Sửa</button>
                    <button class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="top" (confirm)="deleteTutor(element.id)" (cancel)="cancelClicked=true ">Xóa</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

    </section>
</div>