table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

h3 {
    color: #069D86;
}

.title {
    display: inline-block;
    padding: 6px 40px 6px 10px;
    background: #069d86;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.header {
    border-bottom: 2px solid #069d86;
    margin-bottom: 0;
}

.mat-form-field-wrapper {
    position: relative;
    width: 50%;
}

.mat-elevation-z8 {
    border: 1px solid green;
}

th {
    background-color: #069D86;
    color: white;
}

th,
td {
    border: 2px solid black;
    margin: auto;
    text-align: center;
}

.css {
    margin-left: 45%;
}

table {
    border: 1px solid black;
}

.elementToFadeInAndOut {
    font-size: large;
    color: red;
}